<header class="header">
  <h1 class="header__title">PWN-CHECKER</h1>
  <p class="header__intro">Этот сервис поможет вам узнать о фактах компрометации ваших данных, которые могли произойти в результате различных утечек.</p>
  <div class="header__page-switcher">
    <p>Тип поиска:</p>
    <button
      routerLink="/pwnedlist"
      routerLinkActive="btn-active"
      class="header__switcher-btn"
    >по названию сайта</button>
    <button
      routerLink="/pwnedsearch"
      routerLinkActive="btn-active"
      class="header__switcher-btn"
    >по личным данным</button>
  </div>
</header>
