
.pwnedlist {
  padding-top: 70px;

  p {
    width: 500px;
  }

  ul {

    padding-left: 0;
  }
}

.pwnedlist__breaches-list {
  padding-top: 0;
  list-style: none;
  margin-top: 0;
}

.pwnedlist__search-input {
  background: #e4e4e4;
  border: 3px solid black;
  font-size: 18px;
  width: 700px;
  height: 40px;
  padding-left: 5px;
  &:focus {
    background: white;
    outline: none;
  }
}

.pwnedlist__item {
  background: #e4e4e4;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  margin-bottom: 10px;
  &:first-child {
    margin-top: 50px;
  }
}

.pwnedlist__info {
  background: black;
  font-weight: 700;
  color: white;
  margin-bottom: 50px;
  text-align: center;
  line-height: 35px;
  padding-bottom: 5px;
}

.pwnedlist__info--warning {
  color: red;
}

.pwnedlist__info--success {
  color: greenyellow;
}

.pwnedlist__item-name {
  font-size: 25px;
  width: 100%;
}

.pwnedlist__item-img {
  width: 115px;
  max-height: 100px;
}
