<app-header></app-header>
<section class="pwnedlist">
  <input type="search"
         class="pwnedlist__search-input"
         #searchInput
         autofocus
         (input)="filterBreaches($event.target.value)"
         [(ngModel)]="searchTerm"
         placeholder="Имя сервиса или адрес сайта"
  >
  <ul class="pwnedlist__breaches-list"
      infiniteScroll
      [infiniteScrollDistance]="2"
      (scrolled)="onScroll()"
  > <!--infiniteScrollDistance = "2" = осталось 20% скролла до конца-->
    <ng-container *ngIf="partBreaches?.length !== 0">

      <li class="pwnedlist__info" *ngIf="!searchTerm">Полный список известных утечек</li>
      <li class="pwnedlist__info pwnedlist__info--warning" *ngIf="searchTerm">Внимание, есть совпадения!</li>

      <li *ngFor="let breach of partBreaches" class="pwnedlist__item">
        <img [src]="breach.LogoPath" [alt]="breach.Name + ' logo'" class="pwnedlist__item-img">
        <h3 class="pwnedlist__item-name">
          <a [href]="breach.Domain">{{breach.Name}}</a>
        </h3>
        <p [innerHTML]="breach.Description" class="pwnedlist__item-descr"></p>
      </li>

    </ng-container>

    <ng-container *ngIf="partBreaches?.length === 0">
      <li class="pwnedlist__info pwnedlist__info--success">Ничего не найдено, и это хорошо! Вы точно не опечатались?</li>
    </ng-container>
  </ul>
</section>
