
.pwnedsearch {
  padding-top: 70px;
}

.pwnedsearch__breaches-list {
  padding-top: 0;
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

.pwnedsearch__search-input {
  background: #e4e4e4;
  border: 3px solid black;
  font-size: 18px;
  width: 700px;
  height: 40px;
  padding-left: 5px;
  &:focus {
    background: white;
    outline: none;
  }
}

.pwnedsearch__item {
  background: #e4e4e4;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  margin-bottom: 10px;
  &:first-child {
    margin-top: 50px;
  }
}

.pwnedsearch__info {
  background: black;
  font-weight: 700;
  color: white;
  width: 100%;
  line-height: 35px;
  padding-bottom: 5px;
  margin-bottom: 50px;
  margin-top: 0;
  text-align: center;
}

.pwnedsearch__info--warning {
  color: red;
}

.pwnedsearch__info--success {
  color: greenyellow;
}

.pwnedsearch__item-name {
  font-size: 25px;
  width: 100%;
}

.pwnedsearch__item-img {
  width: 115px;
  max-height: 100px;
}

.pwnedsearch__search-type {
  font-size: 18px;
  width: 700px;
  height: 40px;
  padding-left: 5px;
  background: none;
  border: 3px solid black;
  margin-bottom: 40px;
  background: #e4e4e4;
  &:focus {
    background: white;
    outline: none;
  }
}

.pwnedsearch__submit-btn {
  background: #e4e4e4;
  border: 3px solid black;
  font-size: 18px;
  width: 700px;
  height: 40px;
  padding-left: 5px;
  &:focus {
    background: white;
    outline: none;
  }
}
input + .pwnedsearch__submit-btn {
  margin-top: 40px;
}
