<app-header></app-header>
<section class="pwnedsearch">
  <select [(ngModel)]="searchType" name="search-category" id="search-category" class="pwnedsearch__search-type">
    <option value="everywhere" >Поиск по всем сайтам с утечками</option>
    <option
      *ngFor="let breach of allBreaches"
      [value]="breach.Domain"
    >
      {{breach.Name}}
    </option>
  </select>
  <input type="search"
         class="pwnedsearch__search-input"
         #searchInput
         autofocus
         [(ngModel)]="searchTerm"
         placeholder="Имя вашего профиля или почта"
  >
  <p class="pwnedsearch__info pwnedsearch__info--warning" *ngIf="foundDiscredits">Ваши данные скомпрометированы на этих сайтах!</p>
  <p class="pwnedsearch__info pwnedsearch__info--warning" *ngIf="searchType === ''">С этой утечкой данных не ассоциирован домен.</p>
  <p class="pwnedsearch__info pwnedsearch__info--success" *ngIf="foundDiscredits === null">Ничего не найдено, и это хорошо! Вы точно не опечатались?</p>
  <button type="submit" class="pwnedsearch__submit-btn" (click)="startSearch(searchType)" *ngIf="searchTerm && searchType !== ''">Начать поиск!</button>
  <ul class="pwnedsearch__breaches-list"
      infiniteScroll
      [infiniteScrollDistance]="2"
      (scrolled)="onScroll()"
  > <!--infiniteScrollDistance = "2" = осталось 20% скролла до конца-->
    <ng-container *ngIf="partDiscredits?.length !== 0">

      <li *ngFor="let breach of partDiscredits" class="pwnedsearch__item">
        <img [src]="breach.LogoPath" [alt]="breach.Name + ' logo'" class="pwnedsearch__item-img">
        <h3 class="pwnedsearch__item-name">
          <a [href]="breach.Domain">{{breach.Name}}</a>
        </h3>
        <p [innerHTML]="breach.Description" class="pwnedsearch__item-descr"></p>
      </li>

    </ng-container>
  </ul>
</section>
